{% extends "template.html" %}
{% block content %}
<title>Trolligarchian Stock Market - {{users}} Holdings</title>
<div class="block">
  <h3>{{users}}'s Holdings</h3>
  <form class="form" method="post".
    <h4>Want to view someone else's holdings?</h4>
    Input their username here:<br>
    <input type="text" name="uName" required><input type="submit" class="button is-link" value="View Holdings">
  </form>
  {% if holds %}
    {% for hold in holds %}
      <div class="box is-multiline">
        <p>Ticker: {{hold[0]}}<br>
        Quantity owned: {{hold[1]}}<br>
        Current Stock Price: {{hold[2]}}<br>
        Total Value: {{hold[3]}}<br></p>
      </div>
    {% endfor %}
    <br><br>
  {% else %}
    <h5>You don't own any stock. You can buy some <a href="{{url_for('trading')}}">here</a></h5>
  {% endif %}
  <h4><b>Total Value: £{{valTot}}</b></h4>
</div>
{% endblock %}
