{% extends "template.html" %}
{% block content %}
<title>Trolligarchian Stock Market - Accounts</title>
<h2>Bank Accounts</h2>
{% if sucNotif %}
<div class="notification is-success">
  <h3>{{sucNotif}}</h3>
</div>
{% endif %}
{% if failNotif %}
<div class="notification is-danger">
  <h3>{{failNotif}}</h3>
</div>
{% endif %}
<div class="column is-half" style="display: inline-block">
  <div class="box is-multiline">
    <h3>Account Controls</h3>
    <form method="POST" class="box is-multiline">
      <h4>Create a new account</h4><br>
      New Account Name:<br>
      <input type="text" name="accName"><br>
      Offshore or Local:<br>
      <input type="list" name="type" list="acctTypes"><br>
      <datalist id="acctTypes">
        <option value="Offshore"></option
        <option value="Local"></option>
      </datalist>
      <input type="hidden" name="newAcc">
      <input type="submit" value="Create Account" class="button is-success">
    </form>
    <form method="POST" class="box is-multiline">
      <h4>Transfer between accounts</h4><br>
      Name of Account Transferring From:<br>
      <input type="text" name="acctFrom" maxlength="20"><br>
      Name of Account Transferring To:<br>
      <input type="text" name="acctTo"><br>
      Balance to Transfer:<br>
      <input type="number" min="0" name="transBal"><br>
      <input type="hidden" name="transfer">
      <input type="submit" value="Execute Transfer" class="button is-success">
      <h6>(Enter "user" to transfer between <br>your unbeliev account.)</h6>
    </form>
    <form method="POST" class="box is-multiline">
      <h4>Delete Account</h4>
      Name of Account to Delete:<br>
      <input type="text" name="accDel" maxlength="20">
      <input type="hidden" name="delete">
      <br>Accounts Must Have A Balance Of <br>£0.00 Prior To Deletion.<br>
      <input type="submit" class="button is-danger" value="Delete Account">
    </form>
  </div>
</div>
<div class="column" style="display: inline-block; vertical-align: top">
  <div class="box is-multiline">
    <h3>Account Details</h3>
    {% if dets %}
    {% for det in dets %}
    <div class="box is-multiline">
      <p>Account Name: {{det[0]}}</p><br>
      <p>Account Balance: {{det[1]}}</p><br>
      <p>Account Location: <b>{{det[2]}}</b></p>
    </div>
    {% endfor %}
    {% else %}
    <p>You do not have an accounts. You can start accounts with the form on the left</p>
    {% endif %}
  </div>
</div>
{% endblock %}
