<!DOCTYPE HTML>
<html>
  <head>
    <meta name="Author" content="Aligallaton, the one person who'll ever use this bloody thing">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/eStyles.css')}}">
  </head>
  <body>
    <header>
      <h1 class="title">Trolligarch's Stock Market</h1>
    </header>
    <nav class="navbar" role="navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{url_for('home')}}">Homepage</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Stock Trading</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{url_for('lookup')}}">Ticker Lookup</a>
              <a class="navbar-item" href="{{url_for('trading')}}">Trading</a>
              <a class="navbar-item" href="{{url_for('holdings')}}">View holdings</a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Bond Trading</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{url_for('bondCalc')}}">Return Calculator</a>
              <a class="navbar-item" href="{{url_for('locked3')}}">Bond Purchase</a>
              <a class="navbar-item" href="{{url_for('locked5')}}">Your Bond Holdings</a>
            </div>
          </div>
          <a class="navbar-item" href="{{url_for('accounting')}}">Accounts</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="{{url_for('adminPans')}}">Admin Log In</a>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown is-hoverable" id="mobDrop">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" style="width: 100%;">
            <span>Navigation</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu" style="width: 100%;">
        <div class="dropdown-content">
          <a href="{{url_for('home')}}" class="dropdown-item">
            Homepage
          </a>
          <hr clas="dropdown-divider">
          <a href="{{url_for('lookup')}}" class="dropdown-item">
            Ticker Lookup
          </a>
          <a href="{{url_for('trading')}}" class="dropdown-item">
            Trading
          </a>
          <a href="{{url_for('holdings')}}" class="dropdown-item">
            Your Holdings
          </a>
          <hr class="dropdown-divider">
          <a href="{{url_for('bondCalc')}}" clas="dropdown-item">
            Bond Calculator
          </a>
          <a href="{{url_for('locked4')}}" class="dropdown-item">
            Bond Trading
          </a>
          <a href="{{url_for('locked2')}}" class="dropdown-item">
            Bond Holdings
          </a>
          <hr class="dropdown-divider">
          <a href="{{url_for('accounting')}}">
            Accounts (Offshore and Local)
          </a>
          <hr class="dropdown-divider">
          <a href="{{url_for('adminPans')}}" class="dropdown-item">
            Admin Panel
          </a>
        </div>
      </div>
    </div>
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>An Aligallaton Production</p>
        <p>Currently on Version 2.1.1</p>
      </div>
    </footer>
  </body>
</html>
